.logo {
	width: 200px;
	height: 200px;
	margin-top: 2%;
}

.lcolor {
	color: #D91B5B;
}

.btns {
	margin-top: 1%
}

#note {
	border: 2px dotted black;
	padding-bottom: 7px;
	width: 60%;
	margin-bottom: 1%;
}

#note:hover {
	border: 2px dashed #D91B5B;
}

.header {
	font-family: Francois One;
}

.list-group-item {
	font-family: Noticia Text;
}

/*Tooltip css */

.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}